<launch>
	<param name="robot_description" command="C:/opt/ros/melodic/x64/lib/xacro/xacro C:/kcl/robotics/ros/catkin_ws/src/r2d2/model.xacro"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="add_two_ints_server" pkg="r2d2" type="add_two_ints_server" />
	<node name="rviz" pkg="rviz" type="rviz"/>
	<!--
	<node name="add_two_ints_server" pkg="r2d2" type="add_two_ints_server" />
    <node name="add_two_ints_client" pkg="r2d2" type="add_two_ints_client" args="$(arg a) $(arg b)" />

    <node name="state_publisher" pkg="r2d2" type="state_publisher" /> -->

</launch>
